body {
  font-family: Verdana, sans-serif;
  background-color: darkred;
}

h1,
h2{
  color: white;
}

h3,
h4,
h5,
h6 {
  font-family: Verdana, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.Navbar {
  background-color: darkred;
}

#jumbo{
  background-color: black;
}