body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Optima', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.Navbar {
  background-color: darkred;
}

#jumbo{
  background-color: darkred;
}

